<a href="https://colab.research.google.com/github/travoholicspirit/Exploratorydataanalysis/blob/main/Tourismproject5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Installing necessary libraries**

In [1]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt

## **Merge the Domestic visitors Data**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Read the domestic visitors data

Dm1 = pd.read_csv("/content/drive/MyDrive/Project5/Colab Notebooks/domestic_visitors/domestic_visitors_2016.csv")

Dm1.head()

   district        date     month  year visitors
0  Adilabad  01-01-2016   January  2016   792136
1  Adilabad  01-02-2016  February  2016   937820
2  Adilabad  01-03-2016     March  2016   582946
3  Adilabad  01-04-2016     April  2016   341948
4  Adilabad  01-05-2016       May  2016   252887

In [ ]:
#Read other 3 files 

Dm2 = pd.read_csv("/content/drive/MyDrive/Project5/Colab Notebooks/domestic_visitors/domestic_visitors_2017.csv")
Dm3 = pd.read_csv("/content/drive/MyDrive/Project5/Colab Notebooks/domestic_visitors/domestic_visitors_2018.csv")
Dm4 = pd.read_csv("/content/drive/MyDrive/Project5/Colab Notebooks/domestic_visitors/domestic_visitors_2019.csv")

In [ ]:
#to get the row and column details of 2018 file
Dm3.shape

(372, 5)

In [ ]:
#Merge all the csv files from 2016 to 2019

dm = Dm1.append([Dm2,Dm3,Dm4],ignore_index=True)

<ipython-input-45-9e8bb556ccc0>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dm = Dm1.append([Dm2,Dm3,Dm4],ignore_index=True)

In [ ]:
#to get the number of rows and columns for the merged files
dm.shape

(1512, 5)

In [ ]:
#To extract the merged file into a csv file 

dm.to_csv('/content/drive/MyDrive/Project5/Colab Notebooks/domestic_visitors/Domestic_visitors.csv',sep=',',encoding='utf-8')

# **Merging the foreign visitors files**

In [ ]:
#To read the first foreign visitors file (2016)
fv1 = pd.read_csv("/content/drive/MyDrive/Project5/Colab Notebooks/foreign_visitors/foreign_visitors_2016.csv")

#To read 2017,2018,2019 files

fv2 = pd.read_csv("/content/drive/MyDrive/Project5/Colab Notebooks/foreign_visitors/foreign_visitors_2017.csv")
fv3 = pd.read_csv("/content/drive/MyDrive/Project5/Colab Notebooks/foreign_visitors/foreign_visitors_2018.csv")
fv4 = pd.read_csv("/content/drive/MyDrive/Project5/Colab Notebooks/foreign_visitors/foreign_visitors_2019.csv")

In [ ]:
#To check if the foreign file is loaded

fv3.head()

   district        date     month  year visitors
0  Adilabad  01-01-2018   January  2018        0
1  Adilabad  01-02-2018  February  2018        0
2  Adilabad  01-03-2018     March  2018        0
3  Adilabad  01-04-2018     April  2018        0
4  Adilabad  01-05-2018       May  2018        0

In [ ]:
# To merge all the files into one master file

fv = fv1.append([fv2,fv3,fv4],ignore_index=True)

<ipython-input-56-4be765dad813>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  fv = fv1.append([fv2,fv3,fv4],ignore_index=True)

In [ ]:
#to check the number of rows and column of merged file

fv.shape

(1512, 5)

In [ ]:
#To extract the master file into csv file

fv.to_csv("/content/drive/MyDrive/Project5/Colab Notebooks/foreign_visitors/Foreign_visitors.csv",sep=',',encoding='utf-8')

# **Overall Domestic to Foreign tourist ratio for all districts for all years:**

In [ ]:
# Read in the domestic visitors CSV file
Dv = pd.read_csv("/content/drive/MyDrive/Project5/Colab Notebooks/domestic_visitors/Domestic_visitors.csv")

# Read in the foreign visitors CSV file
fv = pd.read_csv("/content/drive/MyDrive/Project5/Colab Notebooks/foreign_visitors/Foreign_visitors.csv")

# Convert the "visitors" column to numeric values
Dv['visitors'] = pd.to_numeric(Dv['visitors'], errors='coerce')
fv['visitors'] = pd.to_numeric(fv['visitors'], errors='coerce')

# Calculate the total number of domestic visitors for each district and year
domestic_totals = Dv.groupby(['district', 'year'])['visitors'].sum()

# Calculate the total number of foreign visitors for each district and year
foreign_totals = fv.groupby(['district', 'year'])['visitors'].sum()

# Calculate the domestic to foreign visitors ratio for each district and year
ratios = domestic_totals / foreign_totals

# Remove NaN values from the ratios
ratios = ratios.dropna()

# Get the overall domestic to foreign tourist ratio for all districts for all years
ratios_all = ratios.groupby('district').mean()

# Round the ratios to 2 decimal places
ratios_all = ratios_all.round(2)

# Remove any remaining NaN values from the ratios_all series
ratios_all = ratios_all.dropna()

# Get the top and bottom 3 districts with the highest domestic to foreign tourist ratio for all years combined
top_3_all = ratios_all.nlargest(3)
bottom_3_all = ratios_all.nsmallest(3)

# Print the overall domestic to foreign tourist ratio for all districts for all years
print("Overall domestic to foreign tourist ratio for all districts for all years:")
print(ratios_all)

# Print the top 3 and bottom 3 districts with the highest domestic to foreign tourist ratio for all years combined
print("\nTop 3 districts with the highest domestic to foreign tourist ratio for all years combined:")
print(top_3_all)
print("\nBottom 3 districts with the lowest domestic to foreign tourist ratio for all years combined:")
print(bottom_3_all)

Overall domestic to foreign tourist ratio for all districts for all years:
district
Adilabad                    210213.67
Hyderabad                       89.54
Jayashankar Bhoopalpally     13011.50
Jogulamba Gadwal              8147.09
Mahbubnagar                   7079.85
Mulugu                        3164.87
Nagarkurnool                 12188.38
Warangal (Urban)              3947.01
Name: visitors, dtype: float64

Top 3 districts with the highest domestic to foreign tourist ratio for all years combined:
district
Adilabad                    210213.67
Jayashankar Bhoopalpally     13011.50
Nagarkurnool                 12188.38
Name: visitors, dtype: float64

Bottom 3 districts with the lowest domestic to foreign tourist ratio for all years combined:
district
Hyderabad             89.54
Mulugu              3164.87
Warangal (Urban)    3947.01
Name: visitors, dtype: float64